<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Portfolio</title>
	</head>
	<body>
		<div id="wrapper">
			<h1>Thanks for visiting my portfolio.</h1>
			<h3>Click a link to learn more!</h3>
			<div id="links">
				<div class="more_info">
					<a href="/projects"><h4>Projects</h4></a>
					<p>See some of the things I've worked on!!</p>
				</div>
				<div class="more_info">
					<a href="/about"><h4>About Me</h4></a>
					<p>Click to learn more about me!</p>
				</div>
				<div class="more_info">
					<a href="/testimonials"><h4>testimonials</h4></a>
					<p>Intersted in hearing what other people think of me?</p>
				</div>

			</div>
		</div>

	</body>
</html>
