<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Projects</title>
	</head>
	<body>
		<div id="wrapper">
			<div class="project">
				<h1>Zone of Danger</h1>
				<p>Interactive website for kids to help them learn math!</p>
			</div>
			<div class="project">
				<h1>Dogeing Codo</h1>
				<p>A forum and community for lovers of all things Doge! Much fake! So potential!</p>
			</div>
			<div class="project">
				<h1>Portfolios-R-Us</h1>
				<p>Online collection of click and place portfolio templates. Now you can impress people without spending money on web designers like me! Wait...this project puts me out of a job....</p>
			</div>

		</div>
	</body>
</html>
